*.tar.bz2
*.tar.xz
.blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.vagrant
blobs/*
config/dev.yml
config/private.yml
config/settings.yml
dev_releases
releases/**/*.tgz
tmp
